<tr>
  <td><%= currency.keys.first %></td>
  <td><%= "#{currency.values.first[:last_week_4][1]}  (#{currency.values.first[:last_week_4][0]})" %></td>
  <td><%= "#{currency.values.first[:last_week_3][1]}  (#{currency.values.first[:last_week_3][0]})" %></td>
  <td><%= "#{currency.values.first[:last_week_2][1]}  (#{currency.values.first[:last_week_2][0]})" %></td>
  <td><%= "#{currency.values.first[:last_week_1][1]}  (#{currency.values.first[:last_week_1][0]})" %></td>
</tr>
